# Analysis of Age

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
data_dir = 'data'
output_dir = 'output'
group = 1

Reading data file

In [3]:
file_path = data_dir + '/' + f'group{group}.csv'
df = pd.read_csv(file_path)

Display data

In [4]:
df

      name  age
0    Alice   23
1      Bob   35
2  Charlie   45

Mean age

In [5]:
print(df.age.mean().round(2))

34.33

Writing results to a file

In [6]:
output_file = output_dir + '/' + f'group{group}_results.txt'
with open(output_file, 'w') as f:
    f.write(str(df.age.mean().round(2)))